/**
@include responsive($md) {
            
        }
*/
.experiencies {
    // background-color: aquamarine;
    width: 100%;
    margin: auto;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 100px 0px;
    background: #F8F7F1;


    @include responsive($md) {
        gap: 60px;  
    }

    &__title {

        color: #000;
        font-family: Ubuntu;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        text-wrap: wrap;
        
        @include responsive($md) {
            font-size: 70px;
        }
    }

    &__wrapper {
        max-width: $max-width;
    }

    &__position {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
        padding-bottom: 50px;
        max-width: 90%;
        margin: auto;
    }

    &__point {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 36px;
        min-height: 36px;
        border: 2px dashed black;
        border-radius: 100%;
        position: relative;
        background-color: white;

        @include responsive($md) {
            min-width: 76px;
            min-height: 76px;
        }

        &-center {
            display: block;
            width: 15px;
            height: 15px;
            background-color: rgb(177, 75, 75);
            border-radius: 100%;

            @include responsive($md) {
                width: 35px;
                height: 35px;
            }
        }

        &-line {
            height: 100vh;
            width: 0px;
            position: absolute;
            top: 100%;
            border-left: 2px dashed black;
            background-color: white;
        }
    }


    &__role {
        &-title {
            color: #000;
            font-family: Ubuntu;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        &-date {
            color: #000;
            font-family: Ubuntu;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    &__job {
        margin-left: 10px;

        @include responsive($md) {
            margin-left: 60px;
        }

        &-title {
            color: #000;
            font-family: Ubuntu;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @include responsive($md) {
                font-size: 30px;

            }
        }

        &-description {
            color: #000;
            font-family: Ubuntu;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            @include responsive($md) {
                font-size: 20px;
            }
        }
    }

}